LOG_LEVEL=INFO
ENVIRONMENT=dev
PROJECT_NAME=Bazaar API Gateway
PROJECT_VERSION=1.0.0

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317

AUTH_SERVICE_HOST=auth_service
AUTH_SERVICE_PORT=50051

USER_SERVICE_HOST=user_service
USER_SERVICE_PORT=50051